html{
    background-color: #282828;
    color: white;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-size: 4em;

}
h2{
    font-size: 1.5em;
    text-align: center;
}
.container{
    margin-top: 20px;
    max-width: 400px;
    border-radius: 30px;
    padding: 20px 0px 20px 0px;
    width: 85%;
    background-color: #36353d;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.container label{
    font-size: 20px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
button{
    color: white;
    border: none;
    font-weight: bold;
    padding: 15px 15px 15px 15px;
    border-radius: 30px;
    font-size: 15px;
    background-color: #16b0fe;
    transition: all 0.3s ease-in-out;
}
input{
    background-color: #282828;
    border: none;
    color: white;
    height: 30px;
    border-radius: 20px;
    width: 200px;
    font-size: 20px;
    padding-left: 30px;
    margin-bottom: 20px;
}
button:hover{
    background-color: white;
    color:  #16b0fe;

}